<!-- Navigation bar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>Filters</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button type="button"
                  class="m-3 btn"
                  (click)="nonModal(false)"
                  data-toggle="modal"
                  data-target="#filterModal">
            Add filter
          </button>
          <button type="button"
                  class="m-3 btn"
                  (click)="nonModal(true)"
                  data-toggle="modal"
                  data-target="#filterModal">
            Add filter (non-modal)
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Table -->
<table class="table" id="filterTable">
  <thead>
  <tr>
    <th scope="col">Filter name</th>
    <th scope="col">Type</th>
    <th scope="col">Comparison</th>
    <th scope="col">Value</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of criteria">
      <td>{{c.filter.name}}</td>
      <td>{{c.type}}</td>
      <td>{{c.comparison}}</td>
      <td>{{c.value}}</td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<app-form></app-form>
